.card{
   
    max-width:500px;
    margin:0 auto ;
    margin-bottom: 12rem;
    text-align: center;
    border: none;
    
    
    background: unset !important;
    border: 1px solid rgba(0,0,0,.125)!important;
    border: 0px ;
    
  
    }
    
    .card-img-top{
        max-width: 400px;
        margin:0 auto;
    }
    
    .card_section .container{
        margin:0 auto;
    }
    
    .card-body{
        h5{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    





//  !!!!!index-card!!!!//

    .index_card{
        

        display: flex;
        justify-content: center;
        background-color: #e7e7e7;
        min-height: 100vh;
       
    }



    .index_card1{
        flex:1;
        h2{
            font-family: Georgia;
            font-size: 10rem;
            text-align: center;
        }
        li{
            margin: 0 auto;
        }
        // 更改大小
        .card-list{
            overflow:hidden;
            width:70vmin;
            height:61vmin;
            
           li {
            width:50vmin;
            height:60vmin;
           }
        }
        
        .card_content{
            height:80rem;
            width:100%;
            padding: 6rem 4rem;
            
           
            
        }
        .card-body{
            
            h1{
                font-size:2rem;
                color:rgb(0, 0, 0);
                font-weight: bold;
                margin-bottom: 1rem;
            }
            p{
                
                font-size: 1.2rem;
                text-align: left;
                line-height: 2rem;
                color:rgb(6, 6, 6);
            }
        
            button{
                background-color:rgb(18, 167, 75);
                margin-left: 20rem;
                margin-top:-0.5rem;
                border: none;
                padding: 0.3rem 0.3rem;
                border-radius: 5px;
            }
        
            button:hover{
                background-color:rgb(27, 179, 179);
            }
        
        }
        #navigate {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1vw;
            position: relative;
            bottom:-1rem;
          }
          
          #navigate a {
            text-decoration: none;
            color: #333;
            font-size: 1.2rem;
            background: rgb(5, 5, 5);
            z-index: 1;
            border-radius: 50%;
            padding: 0.5rem;
          }
          
          #navigate a:hover {
            background: rgb(11, 11, 11);
          }

          .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
    }



    .index_card2{
        flex:1;
        line-height :1.6;
        padding:6rem 2rem;
        p{
            padding: 5rem 5rem;
            font-size:1.5rem;
        }
        h1{
            font-family: Georgia;
        }
    }


