@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400&family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
*{
    font-family: 'Exo', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}



// news 專用footer
.footer-container{
    
    padding: 4rem 0rem 4rem 0rem;
    display:flex;
    justify-content: space-between;


}


  .footer_box1{
    color: #0f367a;
    width:80%;
    height:20vh;
    
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin:0 auto;
  }

  .footer_box2{
    color: #0f367a;
    width:80%;
    height:15vh;
   
    display:flex;
    justify-content: flex-end;
    margin: 0 auto;

  }


.footer-head a{
    color: #0f367a;
    text-decoration: none;
    margin-bottom:0.5rem;
}

.footer-head{
    display: flex;
    flex-direction: column;

    margin-right:5rem;

}

.footer-head .footer-1.img{
    margin-bottom: 3rem;
}





.footer-head span{
    margin-bottom:0.5rem;

}

.footer-head i{
    margin-right:0.3rem;
}

