.news_inner{
    width:980px;
    margin:0 auto;
}

.label{
    background:#68c5f1;
    border-radius:0 34px 34px 0;
    width:240px;
    height:68px;
    padding:0 0 0 10px;
    color:white;
    font-size: 15px;
    font-weight:bold;
    

    .year{
       margin:0 8px 0 0;
       letter-spacing: 0.13rem;
       vertical-align: 5px;
       display: inline-block;
    }
    .date{
        font-size: 33px;
    line-height: 68px;
    letter-spacing: 0.01em;
    display: inline-block;
    }
    .sep{
        margin: 0 2px 0 0;
        font-size: 33px;
        font-weight: normal;
        display: inline-block;
    }
    .dow{
        margin: 0 0 0 8px;
        letter-spacing: 0.13em;
        vertical-align: 5px;
        display: inline-block;
    }

}


.box{

    margin-bottom: 4rem;
    
    .box_title{
        width: 900px;
        margin: 0 auto 22px;
        margin-top: 1rem;
        padding:15px 8px 10px 8px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.8;
        color: #0f367a;
    }
    
    .box_text{
        background: #d2eefb;
        border-radius: 10px;
        width: 900px;
        margin: 0 auto;
        padding: 35px 35px 40px;
        font-size: 15px;
        line-height: 2.2;
        letter-spacing: 0.04em;
        color: #0f367a;
    }
}
